{
  "distSpecVersion": "1.1.0",
  "storage": {
    "rootDirectory": "/var/lib/registry",
    "dedupe": true,
    "gc": true,
    "gcDelay": "1h",
    "gcInterval": "24h"
  },
  "http": {
    "address": "0.0.0.0",
    "port": "5000",
    "auth": {
      "htpasswd": {
        "path": "/etc/zot/htpasswd"
      }
    },
    "accessControl": {
      "repositories": {
        "**": {
          "policies": [
            {
              "users": ["{{ zot_registry_user }}"],
              "actions": ["read", "create", "update", "delete"]
            }
          ],
          "defaultPolicy": []
        }
      },
      "metrics": {
        "users": ["{{ zot_registry_user }}"]
      }
    }
  },
  "log": {
    "level": "info"
  },
  "extensions": {
    "metrics": {
      "enable": true,
      "prometheus": {
        "path": "/metrics"
      }
    },
    "search": {
      "enable": true
    },
    "ui": {
      "enable": true
    }
  }
}
