networks:
  proxy:
    external: true
  {{ observability_network }}:
    driver: bridge
    name: {{ observability_network }}

volumes:
  alloy_data:

services:
  alloy:
    image: {{ alloy_image }}
    container_name: alloy
    restart: unless-stopped
    networks: [{{ observability_network }}, proxy]
    ports:
      - "127.0.0.1:12345:12345"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - GOMEMLIMIT=450MiB
      - GOGC=75
    mem_limit: 512m
    volumes:
      - alloy_data:/var/lib/alloy/data
      - ./alloy-config.alloy:/etc/alloy/config.alloy:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /var/log/journal:/var/log/journal:ro
      - /etc/machine-id:/etc/machine-id:ro
    command:
      - run
      - --server.http.listen-addr=0.0.0.0:12345
      - --storage.path=/var/lib/alloy/data
      - /etc/alloy/config.alloy

  cadvisor:
    image: {{ cadvisor_image }}
    container_name: cadvisor
    restart: unless-stopped
    networks: [{{ observability_network }}]
    privileged: true
    devices:
      - /dev/kmsg:/dev/kmsg
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    command:
      - '--housekeeping_interval=30s'
      - '--docker_only=true'
      - '--disable_metrics=percpu,sched,tcp,udp,disk,diskIO,hugetlb,referenced_memory,cpu_topology,resctrl'
